* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #90a9b4;
    width: 100%;
    min-width: 739px;
    user-select: none;
}

header div {

    width: 500px;
    height: 150px;
}


header {
    display: flex;
    justify-content: center;
    min-width: 637px;
    width: 100%;
    height: 150px;
    background-image: url(../media/Sin\ nombre.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    top: 0;
    backdrop-filter: blur(9px);
    z-index: 1;

}

nav {

    display: flex;
    flex-direction: column;
    position: fixed;
    top: 150px;
    ;
    left: -150px;
    justify-content: center;
    gap: 10px;
    z-index: 1;

}

nav div {
    border-radius: 15px;
    position: relative;
    display: flex;
    width: 230px;
    color: white;
    justify-content: right;
    align-items: center;
    text-transform: uppercase;
    background-color: #1778A1;
    cursor: pointer;
    left: 0;
    transition: left .5s;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.993);
    z-index: 1;

}

nav div:hover {
    left: 120px;
}


nav img {
    text-align: center;
    width: 80px;
}

h1 {
    margin: 0 auto;
    width: 90%;
    border-bottom: solid #0f0f0f;
    text-align: center;
    font-family: 'Chewy';
    -webkit-text-stroke: 1px #20111b;
    font-size: calc(1.5em + 2vw);
    color: #1778A1;
    text-transform: uppercase;

}

.cuestionario {
    margin: 0 auto;
    color: #e7ebec;
    margin-top: 200px;
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
    padding-bottom: 40px;

}



article h3 {

    padding: 3%;
    text-align: center;
    text-shadow: 2px 2px 1px rgb(15, 15, 15);
    border-bottom: solid #0f0f0f;
    background-color: #1778a1;
    width: 100%;
    border-top-left-radius: 67px;
    border-top-right-radius: 67px;
    font-size: calc(0.7em + 0.4vw);
    line-height: 25px;
}

article {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.993);
    margin: 0 auto;
    width: 70%;
    display: flex;
    gap: 20px;
    padding-bottom: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 70px;

}

.corrige {
    justify-content: space-between;
}

article div {
    flex-basis: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 10px 40px;
    height: 60px;
    justify-content: center;
}

article input[type=radio] {
    display: none;
}

article label {
    text-shadow: 2px 2px 1px rgb(15, 15, 15);
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0 5px;
    align-items: center;
    background: #36484d;
    height: 50px;
    flex-basis: 500px;
    cursor: pointer;
    border-radius: 5px;

}

article label img {
    margin-left: 40%;

    /* position: relative;
    left: 10%; */
}

article label:hover {
    background-color: #FDC300;

}

article input[type=radio]:checked+label,
input[type=checkbox]:checked+label {
    background: #FDC300;
    box-shadow: 0px 0px 16px 7px rgba(0, 0, 0, 0.75);
}

button {

    color: white;
    border-radius: 30px;
    background-color: #36484d;
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 50px;
    margin-bottom: 50px;

    cursor: pointer;
}

button:hover {
    background-color: initial;
    background-position: 0 0;

    background-color: #FDC300;
}

button:active {
    opacity: .8;
}

.resultados {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-shadow: 2px 2px 1px rgb(15, 15, 15);
    color: white;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border: solid black;
    position: relative;
    top: 170px;
    background-image: url(../media/WC268-True-of-False-1.png);
    background-size: contain;

}

.resultados h3 {
    width: 100%;
    background-color: blue;
}