@import url(../css/reset.css);
/*min width para que no disminuya mas dfe 400 y tamaño 100vh para que el video ocupe todo lo que se ve*/
body {
  background-color: gray;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 400px;
}
/*El video de fondo fixed , que ocupe toda la pagina y z index -1 para que quede de fondo*/
#videoFondo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.container {
  backdrop-filter: blur(5px);
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.362);
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
}

i {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.993);
  padding-top: 5px;
  display: flex;
  text-align: center;
  font-size: 2em;
  color: #234895;
  background-color: #f1f1f1b2;
  height: 50px;
  width: 100px;
  cursor: pointer;
  border-radius: 20px;
}

i:hover {
  color: #eaebee;
  background-color: #e09320d4;
}

/*la animacion es una foto que gira, tiene 8 segundos de animacion pero el tiempo que tarda
en pasar a otra pagina son 3 segundos, simplem,ente para que gire siempre hasta que cambie de pagina*/
#rotar {
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 300px;
  animation: carga 8s;
}

@keyframes carga {
  0% { rotate: 0; }
  100% {rotate: 800deg;}
}


.introduccion {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.993);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  border-radius: 50px;
  width: 80%;
  background-color: rgba(47, 81, 118, 0.812);
  height: 500px;
  max-width: 1200px;

}

select {
  cursor: pointer;
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 4px;

}
/*un poco que centre el texto del menu de selecciona dificultad*/
option {
  font-size: large;
  text-align: center;

}

h1 {
  padding: 5px;
  color: #ef8031;
  font-family: 'Chewy';
  font-size: 3em;
  text-align: center;
  -webkit-text-stroke: 2px #000000;
}
/*media queryes a 990px*/
@media(max-width:990px) {
  img {
    width: 100%;
  }

  h1 {
    font-size: 2.2em;
  }
}